[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.15"
markdown = "*"
django-filter = "*"
pillow = "*"
pymysql = "*"
asgiref = "==3.4.1"
xadmin = "*"
djangoueditor = "==1.8.143"
certifi = "==2022.6.15"
djangorestframework = "==3.13.1"

[dev-packages]

[requires]
python_version = "3.8"
