[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "==3.2.15"
markdown = "*"
django-filter = "*"
pillow = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.8"
